body, #mainWrapper {
    height: 70%;
    background-color:rgb(245, 245, 245);
}

body, .form-control{
    font-size:12px!important;
}

.floatRight{
    float:right;
    margin-right: 18px;
}

.has-error{
    color:red;
}

.formcontainer{
    background-color: #DAE8E8;
    padding: 20px;
}


.generic-container {
    width:80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

#container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#search{
    padding-top: 10px;
}

.nome.ng-valid {
    background-color: lightgreen;
}
.nome.ng-dirty.ng-invalid-required {
    background-color: red;
}
.nome.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.email.ng-valid {
    background-color: lightgreen;
}
.email.ng-dirty.ng-invalid-required {
    background-color: red;
}
.email.ng-dirty.ng-invalid-email {
    background-color: yellow;
}
