<div ng-show="!authenticated">
    <div class="login-container">
        <div class="alert alert-danger" ng-show="LoginCtrl.error">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Houve um erro ao logar, por favor, tente novamente
        </div>
        <div class="loginForm-container">
            <form role="form" ng-submit="LoginCtrl.login()">
                <div class="form-group">
                    <label for="username">E-mail:</label> <input type="text"
                                                                 class="form-control" id="username" name="username" ng-model="LoginCtrl.credentials.username" />
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label> <input type="password"
                                                                class="form-control" id="password" name="password" ng-model="LoginCtrl.credentials.password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"  >Entrar</button>
                    <a class="btn btn-info" href="#/Cadastro" role="button">Cadastre-se</a>
                    <a class="btn btn-default" href="#/RecuperaSenha" role="button">Esqueceu sua senha?</a>
                </div>
            </form>
        </div>
    </div>
</div>