<div ng-show="authenticated">
    <div ng-controller="UsuarioController as UsuarioCtrl">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="lead">Formulário de registro de Usuario </span></div>
            <div class="form-container">
                <div class="alert alert-warning" ng-show="UsuarioCtrl.message.box" ng-class="errorBox">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ UsuarioCtrl.message.message }}
                </div>
                <form name="myForm" ng-submit="UsuarioCtrl.submit()">
                    <input type="hidden" ng-model="UsuarioCtrl.usuario.idUsuario" />
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="basic-addon1">Nome</span>
                        <input type="text" ng-model="UsuarioCtrl.usuario.nome" id="unome" class="nome form-control input-sm" placeholder="Coloque seu nome" aria-describedby="basic-addon1" required ng-minlength="3">
                        <div class="has-error" ng-show="myForm.$dirty">
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="basic-addon2">Email</span>
                        <input type="email" ng-model="UsuarioCtrl.usuario.email" id="email" class="email form-control input-sm" placeholder="Coloque seu Email" aria-describedby="basic-addon2" required>
                        <div class="has-error" ng-show="myForm.$dirty">
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon" id="basic-addon3">Senha</span>
                        <input type="text" ng-model="UsuarioCtrl.usuario.senha" id="senha" class="senha form-control input-sm" placeholder="Coloque sua senha" aria-describedby="basic-addon3"  required>
                    </div>

                    <div class="form-group">
                        <input type="submit"  value="{{!UsuarioCtrl.usuario.idUsuario ? 'Adicionar' : 'Atualizar'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                        <button type="button" ng-click="UsuarioCtrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Zerar Formulario</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"><span class="lead">Lista de Usuarios </span></div>
            <div class="row" id="search">
                <div class="form-group col-md-12">
                    <div class="col-md-7">
                        <input type="text" ng-model="search" id="busca" class="input-sm" placeholder="Filtro de Resultados"/>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>ID.</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Senha</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in UsuarioCtrl.usuarios | filter: search">
                        <td><span ng-bind="u.idUsuario"></span></td>
                        <td><span ng-bind="u.nome"></span></td>
                        <td><span ng-bind="u.email"></span></td>
                        <td><span ng-bind="u.senha"></span></td>
                        <td>
                            <button type="button" ng-click="UsuarioCtrl.edit(u.idUsuario)" class="btn btn-success">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true" ></span>
                            </button>
                            <button type="button" ng-click="UsuarioCtrl.remove(u.idUsuario)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
