<div class="panel panel-default">
    <div class="panel-heading">
        <span class="lead">Criar nova análise </span>
        <button type="button" class="close" ng-click="AnaliseCtrl.reset()"
                title="Fechar" data-toggle="tooltip" data-placement="left" tooltip>&times;</button>
    </div>
    <div class="container analiseForm-container">
        <form name="salvaAnaliseForm"
              ng-submit="AnaliseCtrl.submit()">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" class="nome form-control" ng-model="AnaliseCtrl.permissao.analise.nome" placeholder="Nome da Análise" required ng-minlength="5"/>
                <div ng-messages="salvaAnaliseForm.nome.$error">
                    <div ng-messages-include="app/analise/mensagensCreateanalise.html"></div>
                </div>
            </div>
            <div class="form-group">
                <label>Objeto de Análise</label>
                <input type="text" name="objetoDeAnalise" class="nome form-control" ng-model="AnaliseCtrl.permissao.analise.objetoDeAnalise" placeholder="Objeto de Análise" required ng-minlength="5"/>
                <div ng-messages="salvaAnaliseForm.objetoDeAnalise.$error">
                    <div ng-messages-include="app/analise/mensagensCreateanalise.html"></div>
                </div>
            </div>
            <hr>
            <div class="form-group clearfix">
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="salvaAnaliseForm.$invalid">Salvar Análise</button>
            </div>
        </form>
    </div>
</div>

