<div class="analise-container" ng-show="authenticated" ng-controller="AnaliseController as AnaliseCtrl">
    <div ng-show="AnaliseCtrl.analiseForm">
        <div ng-include src="'app/analise/configs/criaanalise.html'"></div>
    </div>
    <div class="panel panel-default" >
        <div class="panel-heading"><span class="lead">Lista de Analises </span></div>
        <div class="container" id="search">

            <label for="busca">Busca: </label>
            <input type="text" ng-model="search" id="busca" class="input-sm" placeholder="Filtro de Resultados"/>

            <button type="button" class="btn btn-success pull-right" ng-click="AnaliseCtrl.criaAnalise()"
                    title="Criar nova análise" data-toggle="tooltip" data-placement="left" tooltip>
                <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
            </button>
        </div>
        <hr>
        <div class="container-fluid analise-col-container">
            <div class="row">
                <div class = "col-xs-12 col-sm-4 col-md-3 analise-col" ng-repeat="p in AnaliseCtrl.permissoes | filter: search">
                    <h5>
                        <span class="label label-default">{{p.analise.idAnalise}}</span>
                        <span class="glyphicon glyphicon-certificate pull-right" aria-hidden="true"  ng-show="p.administrador"
                              title="Usuario Administrador" data-toggle="tooltip" data-placement="top" tooltip></span>
                        <span class="glyphicon glyphicon-edit pull-right" aria-hidden="true" ng-show="p.testador"
                              title="Usuario Testador" data-toggle="tooltip" data-placement="top" tooltip></span>
                    </h5>
                    <p><b>Nome: </b>{{p.analise.nome}}</p>
                    <p><b>Objeto Da Análise: </b>{{p.analise.objetoDeAnalise}}</p>
                    <b>
                        Variaveis:
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#criaVariavelModal"
                                title="Adcionar variável extra" data-toggle="tooltip" data-placement="right" tooltip>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </b>
                    <ul>
                        <li ng-repeat="v in p.analise.variaveis">
                            <i class="glyphicon glyphicon-cog" data-toggle="modal" data-target="#criaVariavelModal"
                               ng-click="AnaliseCtrl.editVariavel(p.analise.idAnalise, v.idVariavel)" title="Editar Variavel"
                               data-toggle="tooltip" data-placement="left" tooltip></i>{{v.nomeVariavel}}
                        </li>
                    </ul>
                    <p><b>Status: </b>{{p.analise.status}}</p>

                    <button type="button" ng-click="AnaliseCtrl.editAnalise(p.analise.idAnalise)" class="btn btn-success">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true" ></span>
                    </button>
                    <button type="button" ng-click="AnaliseCtrl.removeAnalise(p.analise.idAnalise)" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                    </button>
                    <div ng-include src="'app/analise/configs/analisemodals.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>