<div class="analise-container" ng-show="authenticated" ng-controller="AnaliseController as AnaliseCtrl">
    <div ng-show="AnaliseCtrl.analiseForm.criaAnalise">
        <div ng-include src="'app/analise/configs/criaanalise.html'"></div>
    </div>
    <div class="panel panel-default" >
        <div class="panel-heading"><span class="lead">Lista de Analises </span></div>
        <div class="container" id="search">

            <label for="busca">Busca: </label>
            <input type="text" ng-model="search" id="busca" class="input-sm" placeholder="Filtro de Resultados"/>

            <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#criaAnaliseModal"
                    title="Criar nova análise" data-toggle="tooltip" data-placement="left" tooltip>
                <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
            </button>
        </div>
        <hr>
        <div class="container-fluid analise-col-container">
            <div class="row container-row">
                <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-3 analise-col" ng-repeat="p in AnaliseCtrl.permissoes | filter: search">
                    <h5>
                        <span class="label label-default">{{p.analise.idAnalise}}</span>
                        <span class="glyphicon glyphicon-certificate pull-right" aria-hidden="true"  ng-show="p.administrador"
                              title="Usuario Administrador" data-toggle="tooltip" data-placement="top" tooltip></span>
                        <span class="glyphicon glyphicon-edit pull-right" aria-hidden="true" ng-show="p.testador"
                              title="Usuario Testador" data-toggle="tooltip" data-placement="top" tooltip></span>
                    </h5>
                    <p><b>Nome: </b>{{p.analise.nome}}</p>
                    <p class="nomeObjetoAnalise"><b>Objeto Da Análise: </b>{{p.analise.objetoDeAnalise}}</p>
                    <b>
                        Variaveis:
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="AnaliseCtrl.analiseListAbreVariavelExtra($index)" ng-hide="AnaliseCtrl.analiseList.variavelExtra[$index] || !p.administrador"
                                title="Adicionar variável extra" data-toggle="tooltip" data-placement="right" tooltip>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </b>
                    <div class="well variavel-well well-sm clearfix" ng-show="AnaliseCtrl.analiseList.variavelExtra[$index]">
                        <label>Nome da Variavel Extra</label>
                        <button type="button" class="btn btn-default btn-xs pull-right" ng-show="AnaliseCtrl.analiseList.variavelExtra[$index]" title="" ng-click="AnaliseCtrl.analiseListFechaVariavelExtra($index)"
                                data-placement="left" tooltip="" data-original-title="Cancelar">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <input type="text" name="nomeVariavel" class="form-control input-sm" ng-model="AnaliseCtrl.variavel.nomeVariavel"/>
                        <button type="button" class="btn btn-primary pull-right"  title="" ng-click="AnaliseCtrl.variavelToAnalise(p.analise.idAnalise, AnaliseCtrl.variavel, $index)"
                                data-placement="right" tooltip="" data-original-title="Adicionar Variável">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </div>
                    <ul>
                        <li ng-repeat="v in p.analise.variaveis">
                            <div class="row analise-row">
                                <div class="col-sm-1 col-xs-1 ">
                                    <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#gerenciaVariavelModal" ng-show="p.administrador"
                                            ng-click="AnaliseCtrl.selectVariavel(v, p.analise)" title="Editar Variavel" data-toggle="tooltip" data-placement="right" tooltip>
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-7 col-lg-6 ">
                                    {{v.nomeVariavel}}
                                </div>
                                <div class="col-sm-1 col-xs-1"></div>
                                <div class="col-sm-1 col-xs-1">
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteVariavelModal" ng-show="!v.variavelPadrao && p.administrador"
                                            ng-click="AnaliseCtrl.selectVariavel(v, p.analise)" title="Excluir Variavel" data-toggle="tooltip" data-placement="left" tooltip>
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <b>
                        Opções de Objeto:
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="AnaliseCtrl.analiseListAbreOpcaoDeObjetoNova($index)" ng-hide="AnaliseCtrl.analiseList.opcaoDeObjetoNova[$index] || !p.administrador"
                                title="Adicionar Opção De Objeto Nova" data-toggle="tooltip" data-placement="right" tooltip>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </b>
                    <div class="well variavel-well well-sm clearfix" ng-show="AnaliseCtrl.analiseList.opcaoDeObjetoNova[$index]">
                        <label>Nome da Opção De Objeto</label>
                        <button type="button" class="btn btn-default btn-xs pull-right" ng-show="AnaliseCtrl.analiseList.opcaoDeObjetoNova[$index]" title="" ng-click="AnaliseCtrl.analiseListFechaOpcaoDeObjetoNova($index)"
                                data-placement="left" tooltip="" data-original-title="Cancelar">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <input type="text" name="nomeOpcaoDeObjeto" class="form-control input-sm" ng-model="AnaliseCtrl.opcaoDeObjeto.nome"/>
                        <button type="button" class="btn btn-primary pull-right"  title="" ng-click="AnaliseCtrl.opcaoDeObjetoToAnalise(p.analise.idAnalise, AnaliseCtrl.opcaoDeObjeto, $index)"
                                data-placement="right" tooltip="" data-original-title="Adicionar Opção de Objeto">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </div>
                    <ul>
                        <li ng-repeat="opo in p.analise.opcoesDeObjeto">
                            <div class="row">
                                <div class="col-sm-1 col-xs-1">
                                    <button type="button" class="btn btn-default btn-xs" ng-show="p.administrador"
                                            ng-click="AnaliseCtrl.editOpcaoDeObjeto(opo, p.analise, $parent.$index)" title="Editar Opção de Objeto" data-toggle="tooltip" data-placement="right" tooltip>
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-xs-8 col-sm-8 col-md-7 col-lg-6 ">
                                    {{opo.nome}}
                                </div>

                                <div class="col-sm-1 col-xs-1">
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#responderQuestionarioModal"
                                            ng-show="(p.administrador || p.testador) && !opo.questionarioJaRespondido"
                                            ng-click="AnaliseCtrl.initializeQuestionario(opo, p.analise)" title="Responder Questionário" data-toggle="tooltip" data-placement="left" tooltip>
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <div class="col-sm-1 col-xs-1">
                                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#deleteOpcaoDeObjetoModal" ng-show="p.administrador"
                                            ng-click="AnaliseCtrl.selectOpcaoDeObjeto(opo, p.analise)" title="Excluir Opção De Objeto" data-toggle="tooltip" data-placement="left" tooltip>
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <p><b>Status: </b>{{p.analise.status}}</p>

                    <button type="button" data-toggle="modal" data-target="#criaAnaliseModal"
                            ng-click="AnaliseCtrl.editAnalise(p.analise)" class="btn btn-primary" ng-show="p.administrador"
                            title="Editar Informações" data-toggle="tooltip" data-placement="left" tooltip>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span>
                    </button>

                    <button type="button" data-toggle="modal" data-target="#gerenciaPermissoesModal" ng-show="p.administrador"
                            ng-click="AnaliseCtrl.fetchAllPermissoesFromAnalise(p.analise)" class="btn btn-primary"
                            title="Gerenciar Permissões" data-toggle="tooltip" data-placement="top" tooltip>
                        <span class="glyphicon glyphicon-user" aria-hidden="true" ></span>
                    </button>

                    <button type="button" data-toggle="modal" data-target="#deleteAnaliseModal" ng-show="p.administrador"
                            ng-click="AnaliseCtrl.selectAnalise(p.analise)" class="btn btn-danger"
                            title="Apagar Análise" data-toggle="tooltip" data-placement="right" tooltip>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" ></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'app/analise/configs/analisemodals.html'"></div>
</div>
