<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="AnaliseCtrl.reset()">&times;</button>
        <h4 class="modal-title">Responder Questionário</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <input type="hidden" ng-model="AnaliseCtrl.analise.idAnalise" />
            <h4>Opção de Objeto: {{AnaliseCtrl.opcaoDeObjeto.nome}}</h4>
            <div class="well questionario-variavel-well well-sm clearfix" ng-repeat="v in AnaliseCtrl.permissao.analise.variaveis">
                <h4>{{v.nomeVariavel}}</h4>
                <hr>
                <div class="well questionario-questao-well well-sm clearfix" ng-repeat="q in v.questoes">
                    <div class="col-sm-12">
                        <label><span class="label label-default">{{q.numero}}</span></label>
                        <br>
                        <h5>{{q.enunciado}}</h5>
                        <div class="btn-toolbar" role="toolbar" >
                            <div class="btn-group mr-2" role="group">
                                <label type="button" class="btn btn-danger"
                                       title="Discordo Totalmente" data-toggle="tooltip"
                                       data-placement="top" tooltip>
                                    <input type="radio" ng-model="AnaliseCtrl.respostas[$parent.$index][$index].resposta" ng-value="1.0" required>
                                </label>
                                <label type="button" class="btn btn-warning"
                                       title="Discordo" data-toggle="tooltip"
                                       data-placement="top" tooltip>
                                    <input type="radio"  ng-model="AnaliseCtrl.respostas[$parent.$index][$index].resposta" ng-value="2.0" required>
                                </label>
                                <label type="button" class="btn btn-info"
                                       title="Neutro" data-toggle="tooltip"
                                       data-placement="top" tooltip>
                                    <input type="radio"  ng-model="AnaliseCtrl.respostas[$parent.$index][$index].resposta" ng-value="3.0" required>
                                </label>
                                <label type="button" class="btn btn-primary"
                                       title="Concordo" data-toggle="tooltip"
                                       data-placement="top" tooltip>
                                    <input type="radio" ng-model="AnaliseCtrl.respostas[$parent.$index][$index].resposta" ng-value="4.0" required>
                                </label>
                                <label type="button" class="btn btn-success"
                                       title="Concordo Totalmente" data-toggle="tooltip"
                                       data-placement="top" tooltip>
                                    <input type="radio"  ng-model="AnaliseCtrl.respostas[$parent.$index][$index].resposta" ng-value="5.0" required>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group clearfix">
            <button type="button" class="btn btn-primary pull-right"
                    ng-click="AnaliseCtrl.saveQuestionario(AnaliseCtrl.permissao.analise, AnaliseCtrl.opcaoDeObjeto, AnaliseCtrl.respostas)"
                    ng-show="AnaliseCtrl.questionarioAResponder(AnaliseCtrl.permissao.analise,AnaliseCtrl.opcaoDeObjeto)">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Responder Questionário
            </button>
        </div>
    </div>
</div>
