body {
    height: 100%;
    background-color: #a9a7a7;
}

body, .form-control{
    font-size:12px!important;
}

.has-error{
    color:red;
}

.form-container{
    background-color: #DAE8E8;
    padding: 20px 20px 5px 20px;
}

.form-group .btn{
    margin: 0px 2px 5px 0px;
}

.mobile-menu{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.menu-container{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    height: 50px;
}

.menu-principal{
    height: 50px;
    border-color: #f8f8f8;
    margin-bottom: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.userMenu-container{
    height: 50px;
    padding: 15px 10px 15px 0px ;
    display: block;
}


.login-container{
    max-width: 250px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.loginForm-container {
    max-width: 250px;
    padding: 20px 20px 5px 20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 25px 5px #8F8F8F;
}


.cadastro-container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.cadastroForm-container{
    max-width: 750px;
    margin: 20px 0px 20px 0px;
    padding:20px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 25px 5px #8F8F8F;

}

.cadastroForm-container h1{
    margin-top:10px;
}

.content-container{
    min-height: calc(100% - 145px);
    margin-top:60px;
}
.custom-width {
    width: 80px !important;
}

#search{
    padding-top: 10px;
}

.nome.ng-valid {
    background-color: lightgreen;
}

.nome.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.email.ng-valid {
    background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-email {
    background-color: yellow;
}

.senha.ng-dirty.ng-invalid-required {
    background-color: red;
}

.senha.ng-valid {
    background-color: lightgreen;
}

.confirmaSenha.ng-valid {
    background-color: lightgreen;
}
.confirmaSenha.ng-invalid-compare-to {
    background-color: yellow;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.analise-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.analise-container .glyphicon{
    top:0px;
}
.analise-col-container{
    max-width: 1035px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:30px;

}

.analise-col-container .row{
    background-color: #ececec;
}
.analise-col{
    padding: 20px;
    min-height: 260px;
}

.analise-col ul{
    list-style-type: none;

}

.analise-col h5{
    margin: 0px 0px 15px 0px;

}
.analise-col:nth-of-type(even){
    background-color: #e7e7e7;

}

.analise-col:nth-of-type(odd){
    background-color: #eeeeee ;

}

.analiseForm-container{
    padding-top: 20px;
}

.messages {
    font-size: smaller;
    padding-top: 5px;
    padding-bottom: 10px;
    color: red;
}

footer{
    text-align: center;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    height: 85px;
    display:block;

}

.footer-container{
    border-color: #f8f8f8;
    margin-bottom: 0px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px 0px 10px;
    text-align:center;
}