body, #mainWrapper {
    height: 70%;
    background-color:rgb(245, 245, 245);
}

body, .form-control{
    font-size:12px!important;
}

.floatRight{
    float:right;
    margin-right: 18px;
}

.has-error{
    color:red;
}

.formcontainer{
    background-color: #DAE8E8;
    padding: 20px;
}


.generic-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;c
    padding-left: 20px;
    padding-right: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.menu-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.loginForm-container{
    max-width: 250px;
    max-height: 225px;
    padding:20px;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 1px 1px 50px 5px #8F8F8F;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
.custom-width {
    width: 80px !important;
}

#search{
    padding-top: 10px;
}

.nome.ng-valid {
    background-color: lightgreen;
}
.nome.ng-dirty.ng-invalid-required {
    background-color: red;
}
.nome.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.email.ng-valid {
    background-color: lightgreen;
}
.email.ng-dirty.ng-invalid-required {
    background-color: red;
}
.email.ng-dirty.ng-invalid-email {
    background-color: yellow;
}

.formField{
    padding-left: 28px !important;
    padding-right:10px !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}