<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="AnaliseCtrl.reset()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gerenciar Variável</h4>
    </div>
    <div class="modal-body">
        <form name="cadastroVariavelForm" novalidate
              ng-submit="AnaliseCtrl.addVariaveltoAnalise(p.analise.idAnalise, AnaliseCtrl.variavel)">
            <div class="form-group">
                <input type="hidden" ng-model="AnaliseCtrl.variavel.idVariavel" />
                <label>Nome da Variavel</label>
                <h4 ng-show="AnaliseCtrl.variavel.variavelPadrao">{{AnaliseCtrl.variavel.nomeVariavel}}</h4>
                <input type="text" name="nomeVariavel" class="nome form-control" ng-model="AnaliseCtrl.variavel.nomeVariavel"
                       ng-show="!AnaliseCtrl.variavel.variavelPadrao"required />
            </div>
            <hr>
            <div class="form-group clearfix">
                <input type="submit" value="{{!AnaliseCtrl.variavel.idVariavel? 'Adicionar Variável' : 'Atualizar Variável'}}"  class="btn btn-primary pull-right"/>
            </div>
        </form>
    </div>
</div>