
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Criar Análise</h4>
    </div>
    <div class="modal-body" ng-controller="AnaliseController as Analise">
        <form name="salvaAnaliseForm"
              ng-submit="Analise.submit()">
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" class="nome form-control" ng-model="Analise.permissao.analise.nome" placeholder="Nome da Análise" required ng-minlength="5"/>
                <div ng-messages="salvaAnaliseForm.nome.$error">
                    <div ng-messages-include="html/templates/auth/analise/mensagensCreateanalise.html"></div>
                </div>
            </div>
            <div class="form-group">
                <label>Objeto de Análise</label>
                <input type="text" name="objetoDeAnalise" class="nome form-control" ng-model="Analise.permissao.analise.objetoDeAnalise" placeholder="Objeto de Análise" required ng-minlength="5"/>
                <div ng-messages="salvaAnaliseForm.objetoDeAnalise.$error">
                    <div ng-messages-include="html/templates/auth/analise/mensagensCreateanalise.html"></div>
                </div>
            </div>
            <hr>
            <div class="form-group clearfix">
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal" ng-click="Analise.reset()">Cancelar</button>
                &nbsp
                <button type="submit" class="btn btn-primary pull-right" ng-disabled="salvaAnaliseForm.$invalid">Salvar Análise</button>
            </div>
        </form>
    </div>
</div>
